.services {
    margin-top: 20rem;
}

.cards {
    column-gap: 2rem;
    padding: 3rem;
}

.card {
    &__item {
        background-color: $purple-title;
        color: $white;
        padding: 2rem;
        border-radius: 5rem;
    }
    &__text {
        font-size: 2.6rem;
        margin: 0 auto;
        display: block;
        text-align: justify;
    }
}